/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: green;
}

h1 {
  font-style: italic;
  color: #373fff;
}

*{
    -webkit-transition:all 1.0s ease;
         -moz-transition:all 1.0s ease;
               -o-transition:all 1.0s ease;
                     transition:all 1.0s ease;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 4fr;
  height: 180px;
  margin-left:30px;
}

.semicircle1 {
  position:relative;
  height:180px;
  width:180px;
}

.semicircle2 {
  position:relative;
  height:180px;
  width:180px;
  color:transparent;
}

.semicircle3 {
  position:relative;
  height:180px;
  width:180px;
  color: transparent;
}

.semicircle4 {
  position:relative;
  height:180px;
  width:180px;
  color: transparent;
}

.rotate1 {
  animation: rotation 2s infinite linear;
}

.rotate2 {
  animation: rotation 2s infinite linear;
}

.rotate3 {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@media all and (min-width: 0px) and (max-width: 500px){
    body {
    background-color:red;
  }
  
  img {
    opacity: 0;
  }
  
  .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 32fr;
  height: 200px;
  }
  
  .semicircle1 {
  color: transparent;
  }
  
  .semicircle4 {
  color: black;
  font-size:30px;
  }
  
  .rotate1 {
  animation: rotation 2s infinite linear;
  animation-iteration-count: 1;
}
  
  .rotate2 {
  animation: rotation 2s infinite linear;
  animation-iteration-count: 1;
}
  
}

@media all and (min-width: 501px) and (max-width: 700px){
  body {
    background-color:blue;
  }
  
  .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 16fr;
  height: 200px;
  }
  
  .semicircle1 {
  opacity: .5;
  }
    
  .semicircle2 {
  color: lime;
  font-size:20px;
  opacity: .5;
  }
  
  .semicircle3 {
  position:relative;
  height:180px;
  width:180px;
  color: white;
  font-size: 30px;
  }
  
  .semicircle4 {
  opacity: .5;
  }
  
  .rotate2 {
  animation: rotation 8s infinite linear;
  }
  
  .rotate3 {
  animation: rotation 16s infinite linear;
  animation-direction: reverse;
  }
  
}

@media all and (min-width: 700px) and (max-width: 1000px){
  body {
    background-color:blue;
  }
/*   .semicircle1 {
    background-color: red;
  } */
  .semicircle2 {
    color: lime;
    font-size:20px;
  }
  
  .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8fr;
  height: 200px;
  }
  .rotate2 {
  animation: rotation 8s infinite linear;
  }
  
  .rotate2 {
  animation: rotation 8s infinite linear;
  }
}

@media all and (min-width: 1000px) and (max-width: 1200px){
  body {
    background-color:blue;
  }
  
  
}