@font-face {
  font-family: 'WarnockPro-Regular'; /* This is an arbitrary name -- whatever works for you */
  src: url('assets/WarnockPro-Regular.otf');
       url('assets/WarnockPro-Regular.otf') format('otf'),
}

body {
  font-family: 'WarnockPro-Regular', sans-serif;
  background-color: blue;
  animation: backgroundcolor 4s infinite;
}

/*         * {
            mix-blend-mode: difference;
        } */

a:link {
  text-decoration: none;
}

#canvas {
  background-color: transparent;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  height: 1920px;
  width: 1080px;
}

#whitecircle {
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 340px;
  /*           opacity: .9; */
  z-index: 3;
  mix-blend-mode: difference;
}

#iris {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 4;
  animation: roll 11s infinite;
}

#pupil {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 5;

  animation: pupilroll 11s infinite, dilation 13s infinite;
}

#eyelid {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 340px;
  z-index: 6;
  animation: backgroundcolor 4s infinite, blink 4s infinite;

  /*           mix-blend-mode: difference; */
}

#whiteeye:hover {
  display: none;
}

/*         #eyegif {
            position: absolute;
            top: 670px;
            left: 360px;
            height: 226px;
            width: 359px;
            z-index: 3;

        } */

.zoom:hover {
  transform: scale(1.075);
}

#text1 {
  position: absolute;
  top: 100px;
  left: 0px;
  font-size: 20vh;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  color: blue;
  opacity: .6;
  animation: textroll1 19s linear infinite;
  transform: rotate(-45deg);
  mix-blend-mode: difference;
}

#text2 {
  position: absolute;
  top: 100px;
  left: 0px;
  font-size: 20vh;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  color: green;
  opacity: .6;
  animation: textroll2 27s linear infinite;
  transform: rotate(45deg);
  mix-blend-mode: difference;
}

#download {
  position: absolute;
  top: 660px;
  color: blue;
/*   top: 90%; */
  left: 50%;
/*   height: 100vh;
  line-height: 100vh; */
  transform: translate(-50%, -50%);
  font-size: 3.5vh;
/*   font-family: sans-serif; */
  letter-spacing: 2px;
  text-align: center;
  opacity: .9;
  z-index: 10;
/*   mix-blend-mode: difference; */
  animation: downloadcolor 4s infinite;
}

@keyframes textroll1 {
  0% {
    left: 1200px;
    top: -500px;
  }

  66% {
    left: -850px;
    top: 850px;
  }
  
  100% {
    left: -850px;
    top: 850px;
  }
  
}

@keyframes textroll2 {
  0% {
    left: 1200px;
    top: 900px;
  }

  66% {
    left: -900px;
    top: -600px;
  }
  
  100% {
    left: -900px;
    top: -600px;
  }
}

@keyframes backgroundcolor {
  0% {
    background-color: blue;
  }
  33% {
    background-color: magenta;
  }
  66% {
    background-color: green;
  }
  100% {
    background-color: blue;
  }
}

@keyframes downloadcolor {
  0% {
    color: orange;
  }
  33% {
    color: red;
  }
  66% {
    color: yellow;
  }
  100% {
    color: orange;
  }
}

@keyframes roll {
  0% {
    left: 100px;
    top: 100px;
  }
  15% {
    left: 70px;
    top: 80px;
  }
  30% {
    left: 120px;
    top: 60px;
  }
  45% {
    left: 130px;
    top: 130px;
  }
  60% {
    left: 70px;
    top: 130px;
  }
  75% {
    left: 100px;
    top: 100px;
  }
  100% {
    left: 100px;
    top: 100px;
  }
}

@keyframes pupilroll {
  0% {
    left: 50px;
    top: 50px;
  }
  15% {
    left: 40px;
    top: 45px;
  }
  30% {
    left: 60px;
    top: 40px;
  }
  45% {
    left: 60px;
    top: 60px;
  }
  60% {
    left: 40px;
    top: 60px;
  }
  75% {
    left: 50px;
    top: 50px;
  }
  100% {
    left: 50px;
    top: 50px;
  }
}


@keyframes blink {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 0.5;
  }
  82% {
    opacity: 0.5;
  }
  84% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dilation {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  20% {
    width: 95px;
    height: 95px;
  }
  25% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 95px;
    height: 95px;
  }
  60% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
